@page "/"

<PageTitle>Home</PageTitle>

<h1 style="display: flex; justify-content: center;">Game Store</h1>


@* <input type="text" @bind="Game" class="form-control" /> *@

@code {
    private string Game { get; set; }
}

@* <Counter IncrementAmount="10"/> *@

